# Ignore everything (files and folders)
/**

# Whitelist folders and subfolders:
!/srcs
!/srcs/filler
!/srcs/visual
!/includes
!/bling
!/bling/*
!/resources
!/resources/**/*

# Whitelist:
!.gitignore
!author
!*.c
!*.h
!Makefile
!test