# Ignore everything (files and folders)
/**

# Whitelist folders and subfolders:
!/libft
!/libft/includes
!/libft/includes/*.h
!/libft/srcs
!/libft/srcs/*
!/libft/Makefile
!/srcs
!/srcs/filler
!/srcs/visual
!/includes
!/bling
!/bling/*
!/resources
!/resources/**/*

# Whitelist:
!.gitignore
!author
!*.c
!*.h
!Makefile
!test
!resources.zip